<a href="https://colab.research.google.com/github/GOWRISHANKARK80/Car-Sales-Prediction/blob/main/Used_cars_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install boto3

Collecting boto3
  Downloading boto3-1.37.11-py3-none-any.whl.metadata (6.7 kB)
Collecting botocore<1.38.0,>=1.37.11 (from boto3)
  Downloading botocore-1.37.11-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.12.0,>=0.11.0 (from boto3)
  Downloading s3transfer-0.11.4-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.11/dist-packages (from botocore<1.38.0,>=1.37.11->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.11/dist-packages (from botocore<1.38.0,>=1.37.11->boto3) (2.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.38.0,>=1.37.11->boto3) (1.17.0)
Downloading boto3-1.37.11-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.6/139.6 kB 4.6 MB/s eta 0:00:00
Downloading botocore-1.37.11-py3-none-any.whl (13.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.4/13.4 MB 15.2 MB/s eta 0:00:00
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.11.4-py3-none-any.whl (84 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.4/84.4 kB 3.5 MB/s eta 0:00:00
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.37.11 botocore-1.37.11 jmespath-1.0.1 s3transfer-0.11.4

In [2]:
import boto3
accesskey="AKIAR72PHK42RDDJJSNT"
securitykey="DtA7ItbAYTj+9fXfApr/gptOe/PsnnKIUAw0qVjw"

In [3]:
s3=boto3.client("s3",aws_access_key_id=accesskey,aws_secret_access_key=securitykey)

In [10]:
bucket=s3.list_buckets()
bucket_file=s3.list_objects_v2(Bucket=bucket["Buckets"][0]["Name"])

In [11]:
bucket

{'ResponseMetadata': {'RequestId': 'VKDS9N1PX925Q0FR',
  'HostId': 'I6Vnla3gijlnR0Vdo8f3NI4GgFJaZEKQStFejx29Xkx730zXPJZjrIVGk3hQVTLGU9b3LtOvXqs=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'I6Vnla3gijlnR0Vdo8f3NI4GgFJaZEKQStFejx29Xkx730zXPJZjrIVGk3hQVTLGU9b3LtOvXqs=',
   'x-amz-request-id': 'VKDS9N1PX925Q0FR',
   'date': 'Wed, 12 Mar 2025 10:45:18 GMT',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'Buckets': [{'Name': 'dbcardekho',
   'CreationDate': datetime.datetime(2025, 2, 3, 9, 53, 7, tzinfo=tzlocal())}],
 'Owner': {'DisplayName': 'gowrishankark80',
  'ID': '2f961f12126cdde2e2db64aa56fa4c7cb9134cc562a60375cd7f1610e4ff24fc'}}

In [12]:
bucket_file

{'ResponseMetadata': {'RequestId': 'QZPKGDCZ9JH7KEZ4',
  'HostId': 'Br8ZtdtrxcSubSLqjanoA3UCSlM7V5CSISXswNT6JMh7jWceqYTTkftcsm0i8fFu3QB4cDM8pqA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Br8ZtdtrxcSubSLqjanoA3UCSlM7V5CSISXswNT6JMh7jWceqYTTkftcsm0i8fFu3QB4cDM8pqA=',
   'x-amz-request-id': 'QZPKGDCZ9JH7KEZ4',
   'date': 'Wed, 12 Mar 2025 10:45:19 GMT',
   'x-amz-bucket-region': 'ap-south-1',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'IsTruncated': False,
 'Contents': [{'Key': 'chennai/chennai.CSV',
   'LastModified': datetime.datetime(2025, 3, 12, 10, 41, 39, tzinfo=tzlocal()),
   'ETag': '"9028a61c00180d4b2f2d1b4fef919baa"',
   'ChecksumAlgorithm': ['CRC32'],
   'ChecksumType': 'FULL_OBJECT',
   'Size': 183521,
   'StorageClass': 'STANDARD'},
  {'Key': 'delhi/delhi.CSV',
   'LastModified': datetime.datetime(2025, 3, 12, 10, 41, 39, tzinfo=tzlocal()),
   'ETag': '"557a2240d29267afd772b0f113402594"',
   'ChecksumAlgorithm': ['CRC32'],
   'ChecksumType': 'FULL_OBJECT',
   'Size': 7828,
   'StorageClass': 'STANDARD'},
  {'Key': 'hyderabad/hyderabad.CSV',
   'LastModified': datetime.datetime(2025, 3, 12, 10, 41, 40, tzinfo=tzlocal()),
   'ETag': '"150e7f056f06ea1156f205d1148214fd"',
   'ChecksumAlgorithm': ['CRC32'],
   'ChecksumType': 'FULL_OBJECT',
   'Size': 288136,
   'StorageClass': 'STANDARD'},
  {'Key': 'kochi/kochi.CSV',
   'LastModified': datetime.datetime(2025, 3, 12, 10, 41, 37, tzinfo=tzlocal()),
   'ETag': '"52b8fa51ca2d8631acb9c276968d9b87"',
   'ChecksumAlgorithm': ['CRC32'],
   'ChecksumType': 'FULL_OBJECT',
   'Size': 6809,
   'StorageClass': 'STANDARD'},
  {'Key': 'kolkata/kolkata.CSV',
   'LastModified': datetime.datetime(2025, 3, 12, 10, 41, 41, tzinfo=tzlocal()),
   'ETag': '"0de13a48d583d3fb29332d6e6520b7e9"',
   'ChecksumAlgorithm': ['CRC32'],
   'ChecksumType': 'FULL_OBJECT',
   'Size': 7699,
   'StorageClass': 'STANDARD'},
  {'Key': 'mumbai/mumbai.CSV',
   'LastModified': datetime.datetime(2025, 3, 12, 10, 41, 38, tzinfo=tzlocal()),
   'ETag': '"2841822b83ca501a87584b041f3bd4f5"',
   'ChecksumAlgorithm': ['CRC32'],
   'ChecksumType': 'FULL_OBJECT',
   'Size': 94768,
   'StorageClass': 'STANDARD'},
  {'Key': 'pune/pune.CSV',
   'LastModified': datetime.datetime(2025, 3, 12, 10, 41, 41, tzinfo=tzlocal()),
   'ETag': '"cb97e41fc556433f9d25ec3dc8a81024"',
   'ChecksumAlgorithm': ['CRC32'],
   'ChecksumType': 'FULL_OBJECT',
   'Size': 112112,
   'StorageClass': 'STANDARD'}],
 'Name': 'dbcardekho',
 'Prefix': '',
 'MaxKeys': 1000,
 'EncodingType': 'url',
 'KeyCount': 7}

In [8]:
def create(i,path):
  bucket_name=bucket["Buckets"][0]["Name"]
  s3_object = f"{i}/{i}.CSV"
  with open(path,"rb") as f:
    s3.upload_fileobj(f,bucket_name,s3_object)
o={"kochi":"/content/Kochi_Data.csv","mumbai":"/content/Mumbai_Data.csv",
   "chennai":"/content/Chennai_UsedCars_Data.csv","delhi":"/content/Delhi_Data.csv","hyderabad":"/content/Hyderabad_Data.csv",
   "pune":"/content/Pune_Data.csv","kolkata":"/content/Kolkata_Data.csv"}
for i in o.keys():
  create(i,o[i])

In [13]:
def download(i,path):
  s3.download_file(bucket["Buckets"][0]["Name"],path,f"{i}.csv")

p={"kochi":bucket_file["Contents"][3]["Key"],"pune":bucket_file["Contents"][6]["Key"],
   "chennai":bucket_file["Contents"][0]["Key"],"delhi":bucket_file["Contents"][1]["Key"],"hyderabad":bucket_file["Contents"][2]["Key"],
   "mumbai":bucket_file["Contents"][5]["Key"],"kolkata":bucket_file["Contents"][4]["Key"]}
for i in p.keys():
  download(i,p[i])

In [ ]:
import pandas as pd

# List of CSV file paths
csv_files = [
    "/content/Chennai.csv",
    "/content/Delhi.csv",
    "/content/Hyderabad.csv",
    "/content/Kochi.csv",
    "/content/Kolkata.csv",
    "/content/Mumbai.csv",
    "/content/Pune.csv"
]  # Add all your file paths here

# Read and concatenate all CSV files
df = pd.concat([pd.read_csv(f) for f in csv_files], ignore_index=True)

# Save the combined data to a new CSV file
df.to_csv("/content/UsedCars_Data.csv", index=False)

print("All CSV files have been combined successfully!")

All CSV files have been combined successfully!

In [ ]:
df

,title,price,location,Insurance,Fuel Type,Seats,Kms Driven,Engine Displacement,Transmission,Year of Manufacture,...,Drive Type,Battery Capacity,Top Speed,Length,Boot Space,Global NCAP Safety Rating,Range,Charging Time DC,Charging Time AC,Regenerative Braking Levels
0,2023 MG Astor Savvy CVT BSVI,₹17.30 Lakh,"Nandanam, Chennai",Expired,Petrol,5 Seats,"25,000 Kms",1498 cc,Automatic,2023.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017 Volkswagen Tiguan 2.0 TDI Comfortline,₹17.90 Lakh,"Peelamedu, Coimbatore",Comprehensive,Diesel,5 Seats,"1,06,257 Kms",1968 cc,Automatic,2017.0,...,AWD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022 Hyundai Creta SX,₹13.95 Lakh,"Thygaraya Nagar, Chennai",Comprehensive,Petrol,5 Seats,"27,000 Kms",1497 cc,Manual,2022.0,...,2WD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022 Hyundai Alcazar Signature (O) Diesel AT BSVI,₹18.50 Lakh,Chennai,Expired,Diesel,6 Seats,"20,000 Kms",1493 cc,Automatic,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018 Mahindra e2o Plus P4,₹3 Lakh,Chennai,Expired,Electric,4 Seats,"40,000 Kms",NaN,Automatic,2018.0,...,NaN,210ah lithium ion kWh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3439,2017 Audi A3 35 TFSI Premium Plus,₹21.50 Lakh,"Baner, Pune",Comprehensive,Petrol,5 Seats,"46,800 Kms",1395 cc,Automatic,2017.0,...,FWD,NaN,222 kmph,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3440,2013 Hyundai EON Magna Plus,₹2.45 Lakh,"Balewadi, Pune",Expired,Petrol,5 Seats,"61,000 Kms",814 cc,Manual,2013.0,...,NaN,NaN,NaN,3495mm,NaN,NaN,NaN,NaN,NaN,NaN
3441,2008 Honda CR-V 2.4 MT,₹3 Lakh,"Viman Nagar, Pune",Third Party,Petrol,5 Seats,"1,20,000 Kms",2354 cc,Manual,2008.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3442,2016 Maruti Celerio VXI AT,₹4.15 Lakh,"Thathawade, Pune",Expired,Petrol,5 Seats,"69,975 Kms",998 cc,Automatic,2016.0,...,NaN,NaN,NaN,3715mm,NaN,NaN,NaN,NaN,NaN,NaN
3443,2016 Maruti Swift VDI BSIV,₹5.70 Lakh,"Sadashiv Peth, Pune",Expired,Diesel,5 Seats,"92,000 Kms",1248 cc,Manual,2016.0,...,NaN,NaN,NaN,3840mm,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3444 entries, 0 to 3443
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   title                        3444 non-null   object
 1   price                        3444 non-null   object
 2   location                     3444 non-null   object
 3   Insurance                    3444 non-null   object
 4   Fuel Type                    3444 non-null   object
 5   Seats                        3443 non-null   object
 6   Kms Driven                   3444 non-null   object
 7   Engine Displacement          3408 non-null   object
 8   Transmission                 3444 non-null   object
 9   Year of Manufacture          3442 non-null   float64
 10  Engine                       3207 non-null   object
 11  Power                        3155 non-null   object
 12  Seating Capacity             847 non-null    object
 13  Mileage                      2765 non-null   object
 14  Fuel                         2810 non-null   object
 15  No. of Airbags               833 non-null    float64
 16  Registration Year            3420 non-null   object
 17  RTO                          3296 non-null   object
 18  Ownership                    3421 non-null   object
 19  Ground Clearance             453 non-null    object
 20  Drive Type                   1037 non-null   object
 21  Battery Capacity             31 non-null     object
 22  Top Speed                    327 non-null    object
 23  Length                       708 non-null    object
 24  Boot Space                   87 non-null     object
 25  Global NCAP Safety Rating    80 non-null     object
 26  Range                        31 non-null     object
 27  Charging Time DC             26 non-null     object
 28  Charging Time AC             26 non-null     object
 29  Regenerative Braking Levels  2 non-null      float64
dtypes: float64(3), object(27)
memory usage: 807.3+ KB

In [ ]:
df.columns

Index(['title', 'price', 'location', 'Insurance', 'Fuel Type', 'Seats',
       'Kms Driven', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'Engine', 'Power', 'Seating Capacity', 'Mileage',
       'Fuel', 'No. of Airbags', 'Registration Year', 'RTO', 'Ownership',
       'Ground Clearance', 'Drive Type', 'Battery Capacity', 'Top Speed',
       'Length', 'Boot Space', 'Global NCAP Safety Rating', 'Range',
       'Charging Time DC', 'Charging Time AC', 'Regenerative Braking Levels'],
      dtype='object')

In [ ]:
# Load the dataset
file_path = "/content/UsedCars_Data.csv"
df = pd.read_csv(file_path)

# Split the 'title' column
df[['Brand', 'Model']] = df['title'].str.split(' ', n=2, expand=True).iloc[:, 1:]

In [ ]:
def clean_price(price):
    if isinstance(price, str):
        price = price.replace("₹", "").replace(",", "").strip()  # Remove ₹ and commas

        # Check for the presence of known terms (Lakh, Crore, etc.)
        if "Lakh" in price:
            try:
                return float(price.replace("Lakh", "").strip()) * 1e5  # Convert Lakh to actual number
            except ValueError:
                return None  # In case of invalid conversion
        elif "Crore" in price:
            try:
                return float(price.replace("Crore", "").strip()) * 1e7  # Convert Crore to actual number
            except ValueError:
                return None  # In case of invalid conversion
        elif "Thousand" in price:
            try:
                return float(price.replace("Thousand", "").strip()) * 1e3  # Convert Thousand to actual number
            except ValueError:
                return None  # In case of invalid conversion
        else:
            # Handle values like ₹100 or ₹15.50 directly
            try:
                return float(price)
            except ValueError:
                return None  # If it's not convertible, return None

    return None  # Handle missing or invalid values

# Apply the function to the price column
df["price"] = df["price"].apply(clean_price)

# Check the first few rows of the updated price column
print(df["price"].head())

0    1730000.0
1    1790000.0
2    1395000.0
3    1850000.0
4     300000.0
Name: price, dtype: float64

In [ ]:
# Split the 'title' column and extract Brand and Model
df[['Brand', 'Model']] = df['title'].str.split(' ', n=2, expand=True).iloc[:, 1:]

# Drop the 'title' column
df.drop(columns=['title'], inplace=True)

# Reorder columns to place 'Brand' and 'Model' at the beginning
new_column_order = ['Brand', 'Model'] + [col for col in df.columns if col not in ['Brand', 'Model']]
df = df[new_column_order]

In [ ]:
df = df.drop(['Engine Displacement','Ground Clearance', 'Drive Type', 'Battery Capacity', 'Top Speed',
       'Length', 'Boot Space', 'Global NCAP Safety Rating', 'Range',
       'Charging Time DC', 'Charging Time AC', 'Regenerative Braking Levels','Fuel', 'No. of Airbags', 'Registration Year', 'RTO', 'Seating Capacity'], axis=1)

In [ ]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ", "_")

In [ ]:
df.columns

Index(['brand', 'model', 'price', 'location', 'insurance', 'fuel_type',
       'seats', 'kms_driven', 'transmission', 'year_of_manufacture', 'engine',
       'power', 'mileage', 'ownership'],
      dtype='object')

In [ ]:
pd.set_option("display.max_columns",None)
df

,brand,model,price,location,insurance,fuel_type,seats,kms_driven,transmission,year_of_manufacture,engine,power,mileage,ownership
0,MG,Astor Savvy CVT BSVI,1730000.0,"Nandanam, Chennai",Expired,Petrol,5 Seats,"25,000 Kms",Automatic,2023.0,1498 cc,108.49 bhp,14.82 kmpl,NaN
1,Volkswagen,Tiguan 2.0 TDI Comfortline,1790000.0,"Peelamedu, Coimbatore",Comprehensive,Diesel,5 Seats,"1,06,257 Kms",Automatic,2017.0,1968 cc,141 bhp,16.65 kmpl,First Owner
2,Hyundai,Creta SX,1395000.0,"Thygaraya Nagar, Chennai",Comprehensive,Petrol,5 Seats,"27,000 Kms",Manual,2022.0,1497 cc,113.18 bhp,17 kmpl,First Owner
3,Hyundai,Alcazar Signature (O) Diesel AT BSVI,1850000.0,Chennai,Expired,Diesel,6 Seats,"20,000 Kms",Automatic,2022.0,1493 cc,113.98 bhp,18.1 kmpl,First Owner
4,Mahindra,e2o Plus P4,300000.0,Chennai,Expired,Electric,4 Seats,"40,000 Kms",Automatic,2018.0,NaN,25.4 bhp,NaN,Second Owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3439,Audi,A3 35 TFSI Premium Plus,2150000.0,"Baner, Pune",Comprehensive,Petrol,5 Seats,"46,800 Kms",Automatic,2017.0,1395 cc,150 bhp,NaN,First Owner
3440,Hyundai,EON Magna Plus,245000.0,"Balewadi, Pune",Expired,Petrol,5 Seats,"61,000 Kms",Manual,2013.0,814 cc,55.2 bhp,21.1 kmpl,First Owner
3441,Honda,CR-V 2.4 MT,300000.0,"Viman Nagar, Pune",Third Party,Petrol,5 Seats,"1,20,000 Kms",Manual,2008.0,2354 cc,NaN,10.8 kmpl,Second Owner
3442,Maruti,Celerio VXI AT,415000.0,"Thathawade, Pune",Expired,Petrol,5 Seats,"69,975 Kms",Automatic,2016.0,998 cc,67.04 bhp,23.1 kmpl,Second Owner
3443,Maruti,Swift VDI BSIV,570000.0,"Sadashiv Peth, Pune",Expired,Diesel,5 Seats,"92,000 Kms",Manual,2016.0,1248 cc,74 bhp,25.2 kmpl,First Owner

In [ ]:
for i in df.select_dtypes(include=["object"]).columns:
  print(i,df[i].unique())

brand ['MG' 'Volkswagen' 'Hyundai' 'Mahindra' 'Mercedes-Benz' 'Honda' 'Renault'
 'Toyota' 'BMW' 'Maruti' 'Audi' 'Datsun' 'Tata' 'Citroen' 'Fiat' 'Volvo'
 'Ford' 'Skoda' 'Jeep' 'Chevrolet' 'Kia' 'Nissan' 'Mini' 'Land' 'Jaguar'
 'Mitsubishi' 'Porsche' 'Bentley' 'Lexus' 'Isuzu']
model ['Astor Savvy CVT BSVI' 'Tiguan 2.0 TDI Comfortline' 'Creta SX' ...
 'Creta SX Opt IVT' 'EON Magna Plus' 'CR-V 2.4 MT']
location ['Nandanam, Chennai' 'Peelamedu, Coimbatore' 'Thygaraya Nagar, Chennai'
 'Chennai' 'Ganapathipuram, Chennai' 'Thiruverkadu, Chennai'
 'Paltra, Gurgaon' 'Anna Nagar West Extension, Chennai'
 'Chromepet, Chennai' 'Anna Nagar, Chennai' 'Ashoknagar, Chennai'
 'Meenambakkam, Chennai' 'West Saidapet, Chennai' 'Medavakkam, Chennai'
 'Vadapalani, Chennai' 'Koyambedu, Chennai' 'Triplicane, Chennai'
 'MEENAMBAKKAM, Chennai' 'Rajajinagar, Chennai'
 'Pr. Accountant General S.O, Chennai' 'Velacheri, Chennai'
 'Porur, Chennai' 'Nungambakkam, Chennai' 'Noida' 'Sector 13, Faridabad'
 'Gurgaon' 'Sector 21e, Gurgaon' 'Patparganj, New Delhi'
 'Vikaspuri, New Delhi' 'Chanakya Puri, New Delhi'
 'Kangan Heri, New Delhi' 'Rohini Courts, New Delhi'
 'Palam Village, New Delhi' 'Mohan Nagar, Ghaziabad'
 'Ashok Vihar, New Delhi' 'Preet Vihar, New Delhi'
 'Distt. Court Complex Dwarka, New Delhi' 'Naraina, New Delhi'
 'Sector 16, Noida' 'Prashant Vihar, New Delhi' 'Janakpuri, New Delhi'
 'Dilshad Garden, New Delhi' 'Ashok Nagar, New Delhi'
 'Patel Nagar, New Delhi' 'Faridabad' 'Bengali Market, New Delhi'
 'Sector 18, Noida' 'Chattarpur, New Delhi' 'Banjara Hills, Hyderabad'
 'Lb Nagar, Hyderabad' 'Musheerabad Dso, Hyderabad'
 'Bowenpally, Hyderabad' 'L B Nagar, Hyderabad' 'Madhapur, Hyderabad'
 'Nagole, Hyderabad' 'Nehrunagar, Hyderabad' 'Nagol, Hyderabad'
 'LB Nagar, Hyderabad' 'Hyderabad' 'Jntu Kukat Pally, Hyderabad'
 'Khairatabad, Hyderabad' 'Vanastalipuram, Hyderabad' 'Uppal, Hyderabad'
 'Begumbazar, Hyderabad' 'Musheerabad DSO, Hyderabad'
 'Central Secretariat, Hyderabad' 'Rangareddi, Hyderabad'
 'Mehdipatnam, Hyderabad' 'Ramgopalpet, Hyderabad' 'Vidyanagar, Hyderabad'
 'Miyapur, Hyderabad' 'Vaishalinagar, Hyderabad' 'Mote Majra, Mohali'
 'Alwal, Hyderabad' 'Dr.b R Ambedkar O.u S.o, Hyderabad'
 'Nampally, Hyderabad' 'Saidabad Colony, Hyderabad'
 'Shahalibanda, Hyderabad' 'Peerzadiguda, Hyderabad'
 'Yakutpura, Hyderabad' 'Dattatreya Colony, Hyderabad'
 'Rahmath Nagar, Hyderabad' 'Kukatpally, Hyderabad'
 'Samskruthi S.O, Hyderabad' 'Gandhi Bhawan, Hyderabad'
 'Kondapur, Hyderabad' 'Allembylines, Hyderabad'
 'Wellington Island, Kochi' 'Palarivattom, Kochi' 'Ballygunge Rs, Kolkata'
 'Kasba, Kolkata' 'Ballygunge, Kolkata' 'Kolkatta Gpo, Kolkata'
 'Kalikapur, Kolkata' 'Northern Avenue, Kolkata' 'Vaishya Sabha, Kolkata'
 'Ballygunge RS, Kolkata' 'Council House Street, Kolkata'
 'Garia Bt, Kolkata' 'Netaji Nagar, Kolkata' 'Bhowanipore, Kolkata'
 'Salt Lake City, Kolkata' 'Kolkatta GPO, Kolkata' 'Entally, Kolkata'
 'Alipore, Kolkata' 'Topsia, Kolkata' 'University, Kolkata'
 'Kalighat, Kolkata' 'Kolkata' 'Goregaon West, Mumbai'
 'Andheri East, Mumbai' 'Andheri West, Mumbai' 'West, Thane'
 'Ghatkopar East, Mumbai' 'Mulund West, Mumbai' 'Borivali West, Mumbai'
 'Mumbai' 'Bazargate, Mumbai' 'Khar (w), Mumbai' 'Thane'
 'Santacruz Central, Mumbai' 'Nerul, Navi Mumbai' 'Kandivali West, Mumbai'
 'Ghatkopar West, Mumbai' 'Antop Hill, Mumbai' 'Malad West, Mumbai'
 'Thane West, Mumbai' 'Goregaon East, Mumbai' 'Thurbe, Navi Mumbai'
 'Vileparle(west) S.o, Mumbai' 'Vadpe, Thane' 'Jogeshwari West, Mumbai'
 'Prabhadevi, Mumbai' 'Vikhroli, Mumbai' 'Khar Colony, Mumbai'
 'Malad, Mumbai' 'Jogeshwari East, Mumbai' 'Andheri, Mumbai'
 'Kurla, Mumbai' 'Kandivali East, Mumbai' 'Mahim, Mumbai'
 'Ins Hamla, Mumbai' 'Apna Bazar, Thane' 'Goregaon (w), Mumbai'
 'Airoli, Navi Mumbai' 'Santacruz(west) S.o, Mumbai' 'Nehru Nagar, Mumbai'
 'Vitthalwadi, Thane' 'Navi Mumbai' 'Charni Road, Mumbai' 'Mira Road'
 'Juhu, Mumbai' 'Matunga West, Mumbai' 'Kapad Bazar, Mumbai'
 'Chembur, Mumbai' 'Kalwa, Thane' 'Jekegram, Thane' 'Mira Road (e), Thane'
 'Virar E, Mumbai' 'Pune' 'Vimannagar, Pune' 'Yerwada, Pune'
 'Thathawade, Pune' 'Dehu Road Cantt, Pune' 'Wakad, Pune' 'Baner, Pune'
 'Pimple Saudagar, Pune' 'Chinchwadgaon, Pune' 'Hadapsar, Pune'
 'Kothrud, Pune' 'Aundh, Pune' 'Pashan, Pune' 'City, Pune'
 'R P T S Khandala, Pune' 'Rahatani, Pune' 'Bavdhan, Pune'
 'Mohamadwadi, Pune' 'Kharadi, Pune' 'Warje, Pune' 'Viman Nagar, Pune'
 'Kasarwadi, Pune' 'Shaniwar Peth, Pune' 'Undri, Pune'
 'Bhosari I.e., Pune' 'R.S., Pune' 'Mundhwa, Pune' 'Sadashiv Peth, Pune'
 'Jalgaon' 'Gondhale Nagar S.O, Pune' 'Market Yard, Pune'
 'Chikhlee B.o, Pune' 'Balewadi, Pune' 'Khondhwa KH, Pune' 'Pimpri, Pune'
 'Dhankawadi, Pune' 'Fatima Nagar, Pune' 'Pimple Gurav Road, Pune'
 'R.s., Pune' 'Camp, Pune' 'Avhat, Pune']
insurance ['Expired' 'Comprehensive' 'Zero Dep' 'Third Party']
fuel_type ['Petrol' 'Diesel' 'Electric' 'CNG' 'LPG']
seats ['5 Seats' '6 Seats' '4 Seats' '7 Seats' '8 Seats' '2 Seats' '9 Seats'
 '10 Seats' nan]
kms_driven ['25,000 Kms' '1,06,257 Kms' '27,000 Kms' ... '32,120 Kms' '46,800 Kms'
 '69,975 Kms']
transmission ['Automatic' 'Manual']
engine ['1498 cc' '1968 cc' '1497 cc' '1493 cc' nan '2987 cc' '999 cc' '1796 cc'
 '1987 cc' '1995 cc' '1197 cc' '796 cc' '1956 cc' '1991 cc' '1199 cc'
 '1242 cc' '998 cc' '1198 cc' '993 cc' '1969 cc' '2967 cc' '1950 cc'
 '2143 cc' '1196 cc' '1248 cc' '1368 cc' '1462 cc' '2393 cc' '2993 cc'
 '1582 cc' '995 cc' '2995 cc' '1396 cc' '1985 cc' '1499 cc' '1598 cc'
 '1086 cc' '1993 cc' '1984 cc' '1998 cc' '2199 cc' '1999 cc' '1591 cc'
 '814 cc' '1451 cc' '2179 cc' '2755 cc' '1373 cc' '936 cc' '1997 cc'
 '2982 cc' '2354 cc' '799 cc' '2494 cc' '1798 cc' '1461 cc' '2489 cc'
 '1353 cc' '1405 cc' '1349 cc' '2184 cc' '2400 cc' '1186 cc' '3993 cc'
 '1794 cc' '624 cc' '2487 cc' '1364 cc' '2925 cc' '1596 cc' '1482 cc'
 '1399 cc' '1996 cc' '3198 cc' '2998 cc' '2696 cc' '1298 cc' '2698 cc'
 '1496 cc' '2994 cc' '3982 cc' '2360 cc' '1150 cc' '4951 cc' '1332 cc'
 '1120 cc' '2956 cc' '2157 cc' '1597 cc' '1047 cc' '2523 cc' '4367 cc'
 '2198 cc' '2609 cc' '2999 cc' '1330 cc' '5461 cc' '2694 cc' '1781 cc'
 '2979 cc' '1194 cc' '1595 cc' '5998 cc' '1172 cc' '2499 cc' '2498 cc'
 '1898 cc' '2497 cc' '2446 cc' '1395 cc' '1490 cc' '1799 cc' '1495 cc'
 '1586 cc' '3456 cc' '1390 cc' '1388 cc']
power ['108.49 bhp' '141 bhp' '113.18 bhp' '113.98 bhp' '25.4 bhp' '254.79 bhp'
 '117.3 bhp' '119 bhp' '67.06 bhp' '186 bhp' '183.72 bhp' '187.7 bhp'
 '81.80 bhp' '187.74 bhp' '119.35 bhp' '67 bhp' nan '46.3 bhp'
 '167.67 bhp' '82.85 bhp' '375.48 bhp' '84 bhp' '108.62 bhp' '67.05 bhp'
 '82 bhp' '88.76 bhp' '73.9 bhp' '174.33 bhp' '84.82 bhp' '81.86 bhp'
 '86.79 bhp' '71.01 bhp' '235 bhp' '83.1 bhp' '241.4 bhp' '183 bhp'
 '241.38 bhp' '203.2 bhp' '86.8 bhp' '103.52 bhp' '190 bhp' '147.52 bhp'
 '74 bhp' '87 bhp' '160.77 bhp' '84.8 bhp' '103.2 bhp' '67.04 bhp'
 '101.65 bhp' '65.71 bhp' '147.51 bhp' '67.1 bhp' '245 bhp' '126.2 bhp'
 '62 bhp' '83.83 bhp' '335.25 bhp' '194 bhp' '86.7 bhp' '98.63 bhp'
 '113.42 bhp' '86.83 bhp' '88.73 bhp' '103.26 bhp' '118.36 bhp'
 '88.50 bhp' '163 bhp' '86.63 bhp' '83.14 bhp' '88.77 bhp' '110 bhp'
 '103.6 bhp' '68 bhp' '197.13 bhp' '75.10 bhp' '81.83 bhp' '150 bhp'
 '163.7 bhp' '197.2 bhp' '86.80 bhp' '108.6 bhp' '76 bhp' '201.15 bhp'
 '152.88 bhp' '121.3 bhp' '121.4 bhp' '84.48 bhp' '321.84 bhp' '55.2 bhp'
 '78.9 bhp' '88.5 bhp' '181 bhp' '140 bhp' '152.87 bhp' '88 bhp'
 '47.33 bhp' '118.27 bhp' '47.3 bhp' '171.5 bhp' '93.7 bhp' '57.6 bhp'
 '150.19 bhp' '261.50 bhp' '88.7 bhp' '197.26 bhp' '117.6 bhp' '75 bhp'
 '148 bhp' '97.6 bhp' '99 bhp' '118.35 bhp' '108.5 bhp' '141.04 bhp'
 '79.4 bhp' '121.36 bhp' '98.6 bhp' '71.02 bhp' '110.4 bhp' '103 bhp'
 '170 bhp' '123.24 bhp' '53.64 bhp' '156.9 bhp' '100.6 bhp' '157.8 bhp'
 '62.1 bhp' '116.3 bhp' '114.41 bhp' '210 bhp' '83.8 bhp' '188 bhp'
 '224 bhp' '136 bhp' '168 bhp' '170.63 bhp' '134.1 bhp' '120.96 bhp'
 '138.08 bhp' '103.25 bhp' '187.40 bhp' '73.75 bhp' '103.5 bhp' '258 bhp'
 '167.68 bhp' '189.08 bhp' '248 bhp' '143 bhp' '68.05 bhp' '89.84 bhp'
 '98.96 bhp' '98.59 bhp' '48.21 bhp' '113.43 bhp' '308.43 bhp'
 '118.41 bhp' '101.64 bhp' '97.7 bhp' '138.1 bhp' '130 bhp' '115.05 bhp'
 '200 bhp' '104.5 bhp' '66.1 bhp' '126.32 bhp' '241.3 bhp' '113.4 bhp'
 '177 bhp' '73.97 bhp' '58.33 bhp' '177.46 bhp' '194.3 bhp' '85.80 bhp'
 '191.7 bhp' '138.12 bhp' '197 bhp' '245.59 bhp' '74.02 bhp' '429.12 bhp'
 '91.1 bhp' '37.5 bhp' '107.3 bhp' '83.81 bhp' '53.3 bhp' '147.8 bhp'
 '175.67 bhp' '184 bhp' '325.86 bhp' '85.8 bhp' '246.74 bhp' '117.60 bhp'
 '301.73 bhp' '375 bhp' '157.57 bhp' '105.5 bhp' '35 bhp' '136.78 bhp'
 '174.5 bhp' '212.55 bhp' '76.8 bhp' '335.26 bhp' '750.97 bhp'
 '113.45 bhp' '105.94 bhp' '402.3 bhp' '75.94 bhp' '261.49 bhp'
 '348.66 bhp' '603.46 bhp' '149.92 bhp' '215.01 bhp' '71 bhp' '100 bhp'
 '72 bhp' '83.11 bhp' '395 bhp' '160.92 bhp' '157.81 bhp' '362.07 bhp'
 '296.3 bhp' '108.45 bhp' '58.16 bhp' '127 bhp' '281.61 bhp' '88.8 bhp'
 '167.62 bhp' '58 bhp' '270.9 bhp' '138.13 bhp' '70 bhp' '138 bhp'
 '97.9 bhp' '120.69 bhp' '85 bhp' '73.94 bhp' '178.49 bhp' '118 bhp'
 '69 bhp' '72.41 bhp' '81.8 bhp' '63 bhp' '336 bhp' '147.5 bhp' '112 bhp'
 '182.38 bhp' '191.76 bhp' '469.35 bhp' '435 bhp' '153.87 bhp'
 '138.05 bhp' '218 bhp' '167.76 bhp' '362.9 bhp' '91.19 bhp' '40.36 bhp'
 '208 bhp' '97.89 bhp' '65 bhp' '340 bhp' '204 bhp' '301.72 bhp'
 '94.68 bhp' '120.7 bhp' '120 bhp' '108 bhp' '225.29 bhp' '255 bhp'
 '215 bhp' '177.6 bhp' '79.65 bhp' '265 bhp' '58.2 bhp' '91.7 bhp'
 '552 bhp' '482.76 bhp' '147.94 bhp' '236 bhp' '245.40 bhp' '254.8 bhp'
 '115 bhp' '177.5 bhp' '168.5 bhp' '221.3 bhp' '93.87 bhp' '237.4 bhp'
 '91.18 bhp' '157.75 bhp' '182 bhp' '214.56 bhp' '130.07 bhp' '134 bhp'
 '158 bhp' '296 bhp' '76.43 bhp' '231.78 bhp' '161 bhp' '105 bhp' '73 bhp'
 '121 bhp' '252 bhp' '102.57 bhp' '108.495 bhp' '63.1 bhp' '87.2 bhp'
 '239.6 bhp' '148.31 bhp' '247 bhp' '300 bhp' '37.48 bhp' '73.8 bhp'
 '158.2 bhp' '261.4 bhp' '160 bhp' '265.52 bhp' '163.60 bhp' '86.76 bhp'
 '153.86 bhp' '178 bhp' '76.9 bhp' '70.02 bhp' '80.46 bhp' '80 bhp'
 '114 bhp' '181.03 bhp' '41.42 bhp' '103.3 bhp' '259 bhp' '181.04 bhp'
 '53.26 bhp' '116.4 bhp' '138.03 bhp' '140.8 bhp' '250 bhp' '74.96 bhp'
 '120.3 bhp' '230 bhp' '147.9 bhp' '104.55 bhp' '194.4 bhp' '61.68 bhp'
 '271.2 bhp' '562 bhp' '108.48 bhp' '175 bhp' '55.92 bhp']
mileage ['14.82 kmpl' '16.65 kmpl' '17 kmpl' '18.1 kmpl' nan '18 kmpl'
 '16.92 kmpl' '22.3 kmpl' '21.01 kmpl' '18.53 kmpl' '18.6 kmpl'
 '22.5 kmpl' '24.04 kmpl' '20.89 kmpl' '19.7 kmpl' '16.14 kmpl'
 '18.5 kmpl' '12.33 kmpl' '23.84 kmpl' '19.3 kmpl' '15.5 kmpl'
 '21.63 kmpl' '18.9 kmpl' '16.47 kmpl' '17.11 kmpl' '20.09 kmpl' '21 kmpl'
 '19.33 kmpl' '17.8 kmpl' '17.3 kmpl' '19.17 kmpl' '17.2 kmpl' '21.4 kmpl'
 '18.16 kmpl' '21.14 kmpl' '18.41 kmpl' '22.9 kmpl' '20 kmpl' '14.1 kmpl'
 '18.2 kmpl' '16.93 kmpl' '23.1 kmpl' '20.3 kmpl' '24.39 kmpl' '22 kmpl'
 '20.92 kmpl' '19.67 kmpl' '16.8 kmpl' '22.54 kmpl' '18.76 kmpl'
 '22.41 kmpl' '16.82 kmpl' '23.64 kmpl' '22.38 kmpl' '15.58 kmpl'
 '15.8 kmpl' '20.54 kmpl' '17.74 kmpl' '23.3 kmpl' '17.9 kmpl'
 '18.09 kmpl' '19.65 kmpl' '19.34 kmpl' '13.03 kmpl' '17.7 kmpl'
 '20.51 kmpl' '17.01 kmpl' '19.28 kmpl' '21.1 kmpl' '13.96 kmpl'
 '20.36 kmpl' '25.1 kmpl' '21.7 kmpl' '15.1 kmpl' '20.1 kmpl' '21.21 kmpl'
 '20.14 kmpl' '22.05 kmpl' '18.07 kmpl' '17.44 kmpl' '22.74 kmpl'
 '26 kmpl' '8 kmpl' '16.02 kmpl' '25.44 kmpl' '13 kmpl' '24.3 kmpl'
 '13.38 kmpl' '18.19 kmpl' '11 kmpl' '11.5 kmpl' '18.78 kmpl' '19.62 kmpl'
 '18.44 kmpl' '20.85 kmpl' '17.57 kmpl' '16.95 kmpl' '17.1 kmpl'
 '25.83 kmpl' '18.27 kmpl' '14 kmpl' '11.9 kmpl' '18.7 kmpl' '13.79 kmpl'
 '19 kmpl' '16.35 kmpl' '14.8 kmpl' '17.4 kmpl' '20.08 kmpl' '19.4 kmpl'
 '20.7 kmpl' '25.8 kmpl' '18.75 kmpl' '24.52 kmpl' '15.85 kmpl'
 '18.69 kmpl' '18.15 kmpl' '18.3 kmpl' '18.88 kmpl' '20.71 kmpl'
 '14.5 kmpl' '25.24 kmpl' '13.14 kmpl' '17.92 kmpl' '15.43 kmpl'
 '20.45 kmpl' '23.95 kmpl' '14.95 kmpl' '16 kmpl' '16.3 kmpl' '16.5 kmpl'
 '20.04 kmpl' '21.13 kmpl' '13.55 kmpl' '19.01 kmpl' '16.2 kmpl'
 '20.38 kmpl' '19.81 kmpl' '22.7 kmpl' '15.29 kmpl' '17.03 kmpl' '23 kmpl'
 '24.76 kmpl' '21.79 kmpl' '18.8 kmpl' '20.63 kmpl' '22.77 kmpl'
 '17.88 kmpl' '17.14 kmpl' '19.56 kmpl' '20.28 kmpl' '15.31 kmpl'
 '17.5 kmpl' '17.69 kmpl' '23.4 kmpl' '17.52 kmpl' '14.34 kmpl' '9 kmpl'
 '18.97 kmpl' '14.99 kmpl' '26.68 kmpl' '21.66 kmpl' '12.6 kmpl'
 '22.32 kmpl' '17.19 kmpl' '14.11 kmpl' '19.76 kmpl' '16.09 kmpl'
 '25.4 kmpl' '25.5 kmpl' '19.6 kmpl' '14.12 kmpl' '20.52 kmpl' '27.3 kmpl'
 '19.2 kmpl' '22.07 kmpl' '14.74 kmpl' '23.7 kmpl' '24.7 kmpl' '20.8 kmpl'
 '19.03 kmpl' '13.47 kmpl' '22.27 kmpl' '23.01 kmpl' '26.8 kmpl'
 '17.95 kmpl' '28.4 kmpl' '16.39 kmpl' '23.56 kmpl' '14.53 kmpl'
 '24.43 kmpl' '17.41 kmpl' '19.87 kmpl' '13.2 kmpl' '14.6 kmpl'
 '14.025 kmpl' '25.17 kmpl' '19.5 kmpl' '17.33 kmpl' '23.59 kmpl'
 '15.63 kmpl' '27.39 kmpl' '15.39 kmpl' '20.68 kmpl' '10 kmpl' '15.3 kmpl'
 '20.5 kmpl' '20.6 kmpl' '17.43 kmpl' '22.56 kmpl' '14.2 kmpl'
 '26.21 kmpl' '14.24 kmpl' '18.67 kmpl' '19.69 kmpl' '11.18 kmpl'
 '21.46 kmpl' '15.04 kmpl' '22.61 kmpl' '18.45 kmpl' '19.15 kmpl'
 '16.38 kmpl' '19.12 kmpl' '14.62 kmpl' '12.4 kmpl' '17.71 kmpl'
 '11.3 kmpl' '21.74 kmpl' '12 kmpl' '15.2 kmpl' '21.9 kmpl' '20.65 kmpl'
 '18.4 kmpl' '14.7 kmpl' '17.29 kmpl' '20.4 kmpl' '19.1 kmpl' '12.34 kmpl'
 '19.72 kmpl' '26.6 km/kg' '20.77 kmpl' '26.59 kmpl' '30.48 km/kg'
 '25.2 kmpl' '18.86 kmpl' '21.38 kmpl' '24.35 kmpl' '21.27 kmpl' '24 kmpl'
 '18.47 kmpl' '15 kmpl' '23.8 kmpl' '25.6 kmpl' '18.49 kmpl' '15.9 kmpl'
 '14.75 kmpl' '19.44 kmpl' '22.35 kmpl' '11.67 kmpl' '23.2 kmpl'
 '12.05 kmpl' '23.9 kmpl' '27.28 kmpl' '16.11 kmpl' '26.11 km/kg'
 '15.96 kmpl' '12.9 kmpl' '12.8 kmpl' '21.5 kmpl' '20.73 kmpl' '12.7 kmpl'
 '15.4 kmpl' '15.11 kmpl' '14.23 kmpl' '19.89 kmpl' '7.81 kmpl'
 '26.08 km/kg' '31.59 km/kg' '28.09 kmpl' '18.06 kmpl' '20.97 kmpl'
 '19.64 kmpl' '24.1 kmpl' '21.03 kmpl' '27.4 kmpl' '19.02 kmpl'
 '16.55 kmpl' '16.94 kmpl' '25.47 kmpl' '16.9 kmpl' '20.34 kmpl'
 '18.55 kmpl' '23.15 kmpl' '18.24 kmpl' '14.84 kmpl' '22.15 kmpl'
 '19.39 kmpl' '23.22 kmpl' '21.19 kmpl' '17.6 kmpl' '21.72 kmpl'
 '11.7 kmpl' '24.8 kmpl' '19.08 kmpl' '19.71 kmpl' '14.9 kmpl'
 '32.52 km/kg' '20.37 kmpl' '19.2 km/kg' '26.2 km/kg' '16.4 kmpl'
 '24.2 kmpl' '16.6 kmpl' '24.97 kmpl' '24.4 kmpl' '24.07 kmpl'
 '12.55 kmpl' '23.24 km/kg' '19.98 kmpl' '10.91 kmpl' '17.67 kmpl'
 '13.1 kmpl' '16.57 kmpl' '17.21 kmpl' '14.16 kmpl' '21.64 kmpl'
 '12.78 kmpl' '12.62 kmpl' '18.48 kmpl' '22.1 kmpl' '14.3 kmpl'
 '31.12 km/kg' '12.08 kmpl' '12.99 kmpl' '15.37 kmpl' '25 kmpl'
 '16.78 kmpl' '13.6 kmpl' '13.24 kmpl' '19.95 kmpl' '21.11 kmpl'
 '21.56 kmpl' '23.08 kmpl' '24 km/kg' '21.43 kmpl' '22 km/kg' '14.67 kmpl'
 '19.36 kmpl' '14.85 kmpl' '20.32 kmpl' '36 km/kg' '17.99 kmpl'
 '18.31 kmpl' '16.36 kmpl' '19.16 kmpl' '14.4 kmpl' '17.09 kmpl'
 '15.74 kmpl' '13.7 kmpl' '27.97 kmpl' '15.6 kmpl' '15.41 kmpl'
 '33.54 km/kg' '16.1 kmpl' '17.05 kmpl' '24.79 kmpl' '17.45 kmpl'
 '20.25 kmpl' '13.5 kmpl' '16.25 kmpl' '23.65 kmpl' '26.49 km/kg'
 '14.28 kmpl' '21.58 kmpl' '12.65 kmpl' '14.69 kmpl' '15.73 kmpl'
 '30.46 km/kg' '16.42 kmpl' '24.29 kmpl' '16.98 kmpl' '28 km/kg'
 '20.88 km/kg' '16.72 kmpl' '12.95 kmpl' '18.05 kmpl' '17.42 kmpl'
 '34.73 km/kg' '17.23 kmpl' '10.8 kmpl']
ownership [nan 'First Owner' 'Second Owner' 'Third Owner' 'Fourth Owner'
 'Fifth Owner']

In [ ]:
# For categorical columns (engine, power, ownership), fill with mode
df['engine'] = df['engine'].fillna(df['engine'].mode()[0])
df['power'] = df['power'].fillna(df['power'].mode()[0])
df['ownership'] = df['ownership'].fillna(df['ownership'].mode()[0])

# For numerical columns (year_of_manufacture, mileage), fill with forward fill or median
df['year_of_manufacture'] = df['year_of_manufacture'].fillna(df['year_of_manufacture'].median())

# Step 1: Remove non-numeric characters and convert to numeric
df['mileage'] = df['mileage'].replace(r'[^\d.]', '', regex=True).astype(float)

# Step 2: Fill missing values with median
df['mileage'] = df['mileage'].fillna(df['mileage'].median())

In [ ]:
df.set_index('brand', inplace=True)

In [ ]:
df.isnull().sum()

model                  0
price                  0
location               0
insurance              0
fuel_type              0
seats                  1
kms_driven             0
transmission           0
year_of_manufacture    0
engine                 0
power                  0
mileage                0
ownership              0
dtype: int64

In [ ]:
df[df['seats'].isnull()]

,model,price,location,insurance,fuel_type,seats,kms_driven,transmission,year_of_manufacture,engine,power,mileage,ownership
brand,,,,,,,,,,,,,
Honda,City 1.5 EXI,150000.0,Pune,Expired,Petrol,NaN,"1,60,000 Kms",Manual,2003.0,1493 cc,100 bhp,13.0,Second Owner

In [ ]:
df['seats'] = df['seats'].bfill()

In [ ]:
df.isnull().sum()

model                  0
price                  0
location               0
insurance              0
fuel_type              0
seats                  0
kms_driven             0
transmission           0
year_of_manufacture    0
engine                 0
power                  0
mileage                0
ownership              0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3444 entries, MG to Maruti
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model                3444 non-null   object
 1   price                3444 non-null   float64
 2   location             3444 non-null   object
 3   insurance            3444 non-null   object
 4   fuel_type            3444 non-null   object
 5   seats                3444 non-null   object
 6   kms_driven           3444 non-null   object
 7   transmission         3444 non-null   object
 8   year_of_manufacture  3444 non-null   float64
 9   engine               3444 non-null   object
 10  power                3444 non-null   object
 11  mileage              3444 non-null   float64
 12  ownership            3444 non-null   object
dtypes: float64(3), object(10)
memory usage: 505.7+ KB

In [ ]:
df.duplicated()

brand
MG            False
Volkswagen    False
Hyundai       False
Hyundai       False
Mahindra      False
              ...
Audi          False
Hyundai       False
Honda         False
Maruti        False
Maruti        False
Length: 3444, dtype: bool

In [ ]:
df

,model,price,location,insurance,fuel_type,seats,kms_driven,transmission,year_of_manufacture,engine,power,mileage,ownership
brand,,,,,,,,,,,,,
MG,Astor Savvy CVT BSVI,1730000.0,"Nandanam, Chennai",Expired,Petrol,5 Seats,"25,000 Kms",Automatic,2023.0,1498 cc,108.49 bhp,14.82,First Owner
Volkswagen,Tiguan 2.0 TDI Comfortline,1790000.0,"Peelamedu, Coimbatore",Comprehensive,Diesel,5 Seats,"1,06,257 Kms",Automatic,2017.0,1968 cc,141 bhp,16.65,First Owner
Hyundai,Creta SX,1395000.0,"Thygaraya Nagar, Chennai",Comprehensive,Petrol,5 Seats,"27,000 Kms",Manual,2022.0,1497 cc,113.18 bhp,17.00,First Owner
Hyundai,Alcazar Signature (O) Diesel AT BSVI,1850000.0,Chennai,Expired,Diesel,6 Seats,"20,000 Kms",Automatic,2022.0,1493 cc,113.98 bhp,18.10,First Owner
Mahindra,e2o Plus P4,300000.0,Chennai,Expired,Electric,4 Seats,"40,000 Kms",Automatic,2018.0,1197 cc,25.4 bhp,19.12,Second Owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Audi,A3 35 TFSI Premium Plus,2150000.0,"Baner, Pune",Comprehensive,Petrol,5 Seats,"46,800 Kms",Automatic,2017.0,1395 cc,150 bhp,19.12,First Owner
Hyundai,EON Magna Plus,245000.0,"Balewadi, Pune",Expired,Petrol,5 Seats,"61,000 Kms",Manual,2013.0,814 cc,55.2 bhp,21.10,First Owner
Honda,CR-V 2.4 MT,300000.0,"Viman Nagar, Pune",Third Party,Petrol,5 Seats,"1,20,000 Kms",Manual,2008.0,2354 cc,81.80 bhp,10.80,Second Owner
Maruti,Celerio VXI AT,415000.0,"Thathawade, Pune",Expired,Petrol,5 Seats,"69,975 Kms",Automatic,2016.0,998 cc,67.04 bhp,23.10,Second Owner
Maruti,Swift VDI BSIV,570000.0,"Sadashiv Peth, Pune",Expired,Diesel,5 Seats,"92,000 Kms",Manual,2016.0,1248 cc,74 bhp,25.20,First Owner

In [ ]:
df.to_csv("/content/cleaned_UsedCars_Data.csv", index=False)

In [ ]:
df['area'] = df['location'].str.split(', ').str[0]
df['city'] = df['location'].str.split(', ').str[-1]

In [ ]:
df['kms_driven'] = df['kms_driven'].str.replace('[^\d]', '', regex=True).astype(int)
df['engine'] = df['engine'].str.extract('(\d+)').astype(int)
df['power'] = df['power'].str.extract('(\d+\.?\d*)').astype(float)

In [ ]:
df

,model,price,location,insurance,fuel_type,seats,kms_driven,transmission,year_of_manufacture,engine,power,mileage,ownership,area,city
brand,,,,,,,,,,,,,,,
MG,Astor Savvy CVT BSVI,1730000.0,"Nandanam, Chennai",Expired,Petrol,5 Seats,25000,Automatic,2023.0,1498,108.49,14.82,First Owner,Nandanam,Chennai
Volkswagen,Tiguan 2.0 TDI Comfortline,1790000.0,"Peelamedu, Coimbatore",Comprehensive,Diesel,5 Seats,106257,Automatic,2017.0,1968,141.00,16.65,First Owner,Peelamedu,Coimbatore
Hyundai,Creta SX,1395000.0,"Thygaraya Nagar, Chennai",Comprehensive,Petrol,5 Seats,27000,Manual,2022.0,1497,113.18,17.00,First Owner,Thygaraya Nagar,Chennai
Hyundai,Alcazar Signature (O) Diesel AT BSVI,1850000.0,Chennai,Expired,Diesel,6 Seats,20000,Automatic,2022.0,1493,113.98,18.10,First Owner,Chennai,Chennai
Mahindra,e2o Plus P4,300000.0,Chennai,Expired,Electric,4 Seats,40000,Automatic,2018.0,1197,25.40,19.12,Second Owner,Chennai,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Audi,A3 35 TFSI Premium Plus,2150000.0,"Baner, Pune",Comprehensive,Petrol,5 Seats,46800,Automatic,2017.0,1395,150.00,19.12,First Owner,Baner,Pune
Hyundai,EON Magna Plus,245000.0,"Balewadi, Pune",Expired,Petrol,5 Seats,61000,Manual,2013.0,814,55.20,21.10,First Owner,Balewadi,Pune
Honda,CR-V 2.4 MT,300000.0,"Viman Nagar, Pune",Third Party,Petrol,5 Seats,120000,Manual,2008.0,2354,81.80,10.80,Second Owner,Viman Nagar,Pune
Maruti,Celerio VXI AT,415000.0,"Thathawade, Pune",Expired,Petrol,5 Seats,69975,Automatic,2016.0,998,67.04,23.10,Second Owner,Thathawade,Pune
Maruti,Swift VDI BSIV,570000.0,"Sadashiv Peth, Pune",Expired,Diesel,5 Seats,92000,Manual,2016.0,1248,74.00,25.20,First Owner,Sadashiv Peth,Pune

In [ ]:
# Drop the 'location' column
df.drop(columns=['location'], inplace=True)

# Reorder columns to place 'area' and 'city' at the beginning
new_column_order = ['area', 'city'] + [col for col in df.columns if col not in ['area', 'city']]
df = df[new_column_order]

In [ ]:
df

,area,city,model,price,insurance,fuel_type,seats,kms_driven,transmission,year_of_manufacture,engine,power,mileage,ownership
brand,,,,,,,,,,,,,,
MG,Nandanam,Chennai,Astor Savvy CVT BSVI,1730000.0,Expired,Petrol,5 Seats,25000,Automatic,2023.0,1498,108.49,14.82,First Owner
Volkswagen,Peelamedu,Coimbatore,Tiguan 2.0 TDI Comfortline,1790000.0,Comprehensive,Diesel,5 Seats,106257,Automatic,2017.0,1968,141.00,16.65,First Owner
Hyundai,Thygaraya Nagar,Chennai,Creta SX,1395000.0,Comprehensive,Petrol,5 Seats,27000,Manual,2022.0,1497,113.18,17.00,First Owner
Hyundai,Chennai,Chennai,Alcazar Signature (O) Diesel AT BSVI,1850000.0,Expired,Diesel,6 Seats,20000,Automatic,2022.0,1493,113.98,18.10,First Owner
Mahindra,Chennai,Chennai,e2o Plus P4,300000.0,Expired,Electric,4 Seats,40000,Automatic,2018.0,1197,25.40,19.12,Second Owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Audi,Baner,Pune,A3 35 TFSI Premium Plus,2150000.0,Comprehensive,Petrol,5 Seats,46800,Automatic,2017.0,1395,150.00,19.12,First Owner
Hyundai,Balewadi,Pune,EON Magna Plus,245000.0,Expired,Petrol,5 Seats,61000,Manual,2013.0,814,55.20,21.10,First Owner
Honda,Viman Nagar,Pune,CR-V 2.4 MT,300000.0,Third Party,Petrol,5 Seats,120000,Manual,2008.0,2354,81.80,10.80,Second Owner
Maruti,Thathawade,Pune,Celerio VXI AT,415000.0,Expired,Petrol,5 Seats,69975,Automatic,2016.0,998,67.04,23.10,Second Owner
Maruti,Sadashiv Peth,Pune,Swift VDI BSIV,570000.0,Expired,Diesel,5 Seats,92000,Manual,2016.0,1248,74.00,25.20,First Owner

In [ ]:
df.drop(columns=['area'], inplace=True)

<ipython-input-28-1425cc4999c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['area'], inplace=True)

In [ ]:
df['seats'] = df['seats'].str.split().str[0].astype(int)

<ipython-input-29-55541be1be68>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['seats'] = df['seats'].str.split().str[0].astype(int)

In [ ]:
print(df['seats'].unique())

[ 5  6  4  7  8  2  9 10]

In [ ]:
df

,city,model,price,insurance,fuel_type,seats,kms_driven,transmission,year_of_manufacture,engine,power,mileage,ownership
brand,,,,,,,,,,,,,
MG,Chennai,Astor Savvy CVT BSVI,1730000.0,Expired,Petrol,5,25000,Automatic,2023.0,1498,108.49,14.82,First Owner
Volkswagen,Coimbatore,Tiguan 2.0 TDI Comfortline,1790000.0,Comprehensive,Diesel,5,106257,Automatic,2017.0,1968,141.00,16.65,First Owner
Hyundai,Chennai,Creta SX,1395000.0,Comprehensive,Petrol,5,27000,Manual,2022.0,1497,113.18,17.00,First Owner
Hyundai,Chennai,Alcazar Signature (O) Diesel AT BSVI,1850000.0,Expired,Diesel,6,20000,Automatic,2022.0,1493,113.98,18.10,First Owner
Mahindra,Chennai,e2o Plus P4,300000.0,Expired,Electric,4,40000,Automatic,2018.0,1197,25.40,19.12,Second Owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Audi,Pune,A3 35 TFSI Premium Plus,2150000.0,Comprehensive,Petrol,5,46800,Automatic,2017.0,1395,150.00,19.12,First Owner
Hyundai,Pune,EON Magna Plus,245000.0,Expired,Petrol,5,61000,Manual,2013.0,814,55.20,21.10,First Owner
Honda,Pune,CR-V 2.4 MT,300000.0,Third Party,Petrol,5,120000,Manual,2008.0,2354,81.80,10.80,Second Owner
Maruti,Pune,Celerio VXI AT,415000.0,Expired,Petrol,5,69975,Automatic,2016.0,998,67.04,23.10,Second Owner
Maruti,Pune,Swift VDI BSIV,570000.0,Expired,Diesel,5,92000,Manual,2016.0,1248,74.00,25.20,First Owner

In [ ]:
df[df['price']== 513560.0]

Empty DataFrame
Columns: [city, model, price, insurance, fuel_type, seats, kms_driven, transmission, year_of_manufacture, engine, power, mileage, ownership]
Index: []

In [ ]:
df.to_csv("/content/Final_UsedCars_Data.csv", index=False)

In [ ]:
df["city"].unique()

array(['Chennai', 'Coimbatore', 'Gurgaon', 'Noida', 'Faridabad',
       'New Delhi', 'Ghaziabad', 'Hyderabad', 'Mohali', 'Kochi',
       'Kolkata', 'Mumbai', 'Thane', 'Navi Mumbai', 'Mira Road', 'Pune',
       'Jalgaon'], dtype=object)

In [ ]:
# Reorder columns to place "price" at the end
df = df[[col for col in df.columns if col != 'price'] + ['price']]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3444 entries, MG to Maruti
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 3444 non-null   object
 1   model                3444 non-null   object
 2   insurance            3444 non-null   object
 3   fuel_type            3444 non-null   object
 4   seats                3444 non-null   int64
 5   kms_driven           3444 non-null   int64
 6   transmission         3444 non-null   object
 7   year_of_manufacture  3444 non-null   float64
 8   engine               3444 non-null   int64
 9   power                3444 non-null   float64
 10  mileage              3444 non-null   float64
 11  ownership            3444 non-null   object
 12  price                3444 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 505.7+ KB

In [ ]:
import pickle
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder().fit(df[["city"]])
df["city"]=encoder.transform(df[["city"]])
with open('encoder_city.pkl', 'wb') as f:
    pickle.dump(encoder, f)

In [ ]:
encoder1 = OrdinalEncoder().fit(df[["model"]])
df["model"]=encoder1.transform(df[["model"]])
with open('encoder_model.pkl', 'wb') as f:
    pickle.dump(encoder1, f)

In [ ]:
encoder2 = OrdinalEncoder().fit(df[["insurance"]])
df["insurance"]=encoder2.transform(df[["insurance"]])
with open('encoder_insurance.pkl', 'wb') as f:
    pickle.dump(encoder2, f)

In [ ]:
encoder3 = OrdinalEncoder().fit(df[["fuel_type"]])
df["fuel_type"]=encoder3.transform(df[["fuel_type"]])
with open('encoder_fuel_type.pkl', 'wb') as f:
    pickle.dump(encoder3, f)

In [ ]:
encoder4 = OrdinalEncoder().fit(df[["transmission"]])
df["transmission"]=encoder4.transform(df[["transmission"]])
with open('encoder_transmission.pkl', 'wb') as f:
    pickle.dump(encoder4, f)

In [ ]:
encoder5 = OrdinalEncoder().fit(df[["ownership"]])
df["ownership"]=encoder5.transform(df[["ownership"]])
with open('encoder_ownership.pkl', 'wb') as f:
    pickle.dump(encoder5, f)

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import plotly.express as px

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
encoder= OrdinalEncoder()
for i in df.select_dtypes(include=["object"]).columns:
  df[i]=encoder.fit_transform(df[[i]])

In [ ]:
df

,city,model,insurance,fuel_type,seats,kms_driven,transmission,year_of_manufacture,engine,power,mileage,ownership,price
brand,,,,,,,,,,,,,
MG,0.0,161.0,1.0,4.0,5,25000,0.0,2023.0,1498,108.49,14.82,1.0,1730000.0
Volkswagen,1.0,1264.0,0.0,1.0,5,106257,0.0,2017.0,1968,141.00,16.65,1.0,1790000.0
Hyundai,0.0,412.0,0.0,4.0,5,27000,1.0,2022.0,1497,113.18,17.00,1.0,1395000.0
Hyundai,0.0,76.0,1.0,1.0,6,20000,0.0,2022.0,1493,113.98,18.10,1.0,1850000.0
Mahindra,0.0,1544.0,1.0,2.0,4,40000,0.0,2018.0,1197,25.40,19.12,3.0,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Audi,15.0,40.0,0.0,4.0,5,46800,0.0,2017.0,1395,150.00,19.12,1.0,2150000.0
Hyundai,15.0,458.0,1.0,4.0,5,61000,1.0,2013.0,814,55.20,21.10,1.0,245000.0
Honda,15.0,240.0,2.0,4.0,5,120000,1.0,2008.0,2354,81.80,10.80,3.0,300000.0
Maruti,15.0,259.0,1.0,4.0,5,69975,0.0,2016.0,998,67.04,23.10,3.0,415000.0
Maruti,15.0,1178.0,1.0,1.0,5,92000,1.0,2016.0,1248,74.00,25.20,1.0,570000.0

In [ ]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((2410, 12), (1034, 12), (2410,), (1034,))

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error


# Initialize the RandomForestRegressor model
model1 = RandomForestRegressor(n_estimators=100,max_depth=5).fit(x_train, y_train)

# Predict the price on the test set
y_pred = model1.predict(x_test)

# Evaluate the model using mean squared error and R^2 score
mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
r2 = r2_score(y_test, y_pred)  # R^2 score
mae = mean_absolute_error(y_test,y_pred)
# Print the evaluation metrics
print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')
print(f'Mean Absolute Error: {mae}')

Mean Squared Error: 495134778794.34393
R^2 Score: 0.7356801839783074
Mean Absolute Error: 330925.9876028836

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
model2 = LinearRegression().fit(x_train, y_train)
y_pred = model2.predict(x_test)
# Evaluate the model using mean squared error and R^2 score
mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
r2 = r2_score(y_test, y_pred)  # R^2 score
mae = mean_absolute_error(y_test,y_pred)
# Print the evaluation metrics
print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')
print(f'Mean Absolute Error: {mae}')

Mean Squared Error: 913925832410.9022
R^2 Score: 0.5121152497739239
Mean Absolute Error: 511772.2195404107

In [ ]:
import xgboost as xgb
model3 = xgb.XGBRegressor().fit(x_train, y_train)
y_pred = model3.predict(x_test)
# Evaluate the model using mean squared error and R^2 score
mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
r2 = r2_score(y_test, y_pred)  # R^2 score
mae = mean_absolute_error(y_test,y_pred)
# Print the evaluation metrics
print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')
print(f'Mean Absolute Error: {mae}')

Mean Squared Error: 256779442996.6567
R^2 Score: 0.862922383888489
Mean Absolute Error: 203537.298325677

In [ ]:
import pickle
with open("RandomForestRegressor.pkl","wb") as f:
  pickle.dump(model1,f)

In [ ]:
import pickle
with open("LinearRegressor.pkl","wb") as f:
  pickle.dump(model2,f)

In [ ]:
import pickle
with open("XgboostRegressor.pkl","wb") as f:
  pickle.dump(model2,f)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3444 entries, MG to Maruti
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 3444 non-null   float64
 1   model                3444 non-null   float64
 2   insurance            3444 non-null   float64
 3   fuel_type            3444 non-null   float64
 4   seats                3444 non-null   int64
 5   kms_driven           3444 non-null   int64
 6   transmission         3444 non-null   float64
 7   year_of_manufacture  3444 non-null   float64
 8   engine               3444 non-null   int64
 9   power                3444 non-null   float64
 10  mileage              3444 non-null   float64
 11  ownership            3444 non-null   float64
 12  price                3444 non-null   float64
dtypes: float64(10), int64(3)
memory usage: 505.7+ KB

In [ ]:
b=pd.DataFrame([[8,6,2,5,1,5,70000,1,2018,1199,900,20,2]])
a=model.predict(b)
a

NameError: name 'model' is not defined